@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="menu-has-children">
        @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <ul>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            }
                <li>@Html.ActionLink("Manage orders", "Index","Orders")</li>
        </ul>
    </li>
}

else
{
        <li><a href="@Url.Action("Login","Account")">Login</a></li>
        <li><a href="@Url.Action("Register","Account")">Register</a></li>
}
