<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book shop online</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/Content/FrontEndRef/img/favicon.png" rel="icon">
    <link href="/Content/FrontEndRef/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!--Bootstrap-->
    @Styles.Render("~/Content/FrontEndRef/css")
    @RenderSection("css", required: false)
</head>
<body>
    <!--Header-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h3><a href="#intro" class="scrollto">DTBOOKS</a></h3>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    <li><a href="#">About us</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
    </header>
    <!--End header-->
    <section id="intro" style="height: 80px"></section>
    @RenderBody()
    <hr />
    <!--Footer-->
    <footer class="bg-main-color text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-custom">
                        <li class="list-group-item">
                            CONG TY CO PHAN SACH DTBOOKS
                        </li>
                        <li class="list-group-item">
                            Địa chỉ VP Hà Nội : Lô 34E - Khu đấu giá 3ha - Phúc Diễn - Bắc Từ Liêm - Hà Nội
                        </li>
                        <li class="list-group-item">
                            Hotline: 0901 701 202 - 0243 7921694 (máy lẻ 121)
                        </li>
                        <li class="list-group-item">
                            Email: dtbooks@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-custom">
                        <li class="list-group-item">
                            Chi nhánh: Số 45 đường 8, KP5, Hiệp Bình Chánh, Thủ Đức, TP Hồ Chí Minh
                        </li>
                        <li class="list-group-item">
                            Hotline:(84-4) 37.921.466 - 0866609398
                        </li>
                        <li class="list-group-item">
                            Email: dtbooks@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--End footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/FrontEndRef/script")
    @RenderSection("scripts", required: false)
</body>
</html>
